<div class="jumbotron text-center">
  <h1><strong>{{Libreria}}</strong></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>¡Bienvenido a nuestra librería web!</h3>
      <p>
        Welcome to our Web Library! <br />

        Step into a world of knowledge, where curiosity knows no bounds. Our Web Library is your gateway to a treasure trove of information, inspiration, and exploration. Whether you're seeking to expand your horizons, embark on a new adventure, or simply indulge in the joy of reading, you've come to the right place. <br />

        Browse through our vast collection of books, articles, and resources carefully curated to cater to a diverse range of interests. From classic literature to cutting-edge technology, from timeless wisdom to the latest trends, we have something for everyone. Our digital shelves are brimming with valuable insights, captivating stories, and thought-provoking ideas. <br />

        Immerse yourself in the world of words and embark on a journey of discovery. Unleash your imagination, broaden your perspectives, and let the pages transport you to new realms. Our Web Library is here to empower you with knowledge, ignite your passion for learning, and foster a lifelong love affair with the written word. <br />

        Whether you're a seasoned reader or taking your first steps into the literary realm, we're thrilled to have you here. Start exploring, unravel the mysteries, and unlock the vast possibilities that await you within our virtual library walls. <br />

        Welcome to our Web Library. Enjoy the boundless wonders of the written word! <br />
      </p>
    </div>
  </div>

  <!--<div class="row">
    <button class="btn btn-primary" (click)="CambiarNombre()">CambioNombre</button>
  </div>-->
</div>

